h1 {
    color: #01784E;
}

.name1{
    margin: 10px;
}

h6{
   color: #01784E; 
}
.comeco {
    background-color: #b1b1b1;
}
.add{
    margin: 35px;
}
.Conteudo .btn-primary{
    background-color: #01784E!important;
}