/*Login, consultaCliente*/

.person-icon::before {
    content: "";
    background: url("../images/login/person.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    float: left;
}

.form-control:focus {
    border-color: #01764a!important;
    box-shadow: 0 0 0 0.2rem rgb(1, 120, 78, 0.3)!important;
}

.border-rd {
    border: #01764a 1px solid;
}

#loginbox {
    height: 600px;
}

.text-green,
.text-white {
    font-weight: bolder;
}

.labelDescription, .text-grey {
    color: rgb(88, 88, 88);
}

.Space_Descricao {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #d1d3d1;
}

#tabelaBody {
    color: rgb(88, 88, 88);
}


/*cabealho menu*/

.nav-rd {
    background-color: #01784E;
    color: white;
}

.information-base {
    font-size: 14px;
}

.br-rd {
    background-color: #01784E;
    color: white!important;
}

.text-white {
    color: white!important;
}

.text-green {
    color: #01784E;
}

.nav-rd ul {
    list-style: none;
}

.side-bar {
    background-color: rgb(220, 220, 220);
    height: 100%;
}

.font-bold-side-bar {
    color: rgb(83, 83, 83);
    font-weight: bolder;
}

.pesqProduto {
    border-radius: 5px 0px 0px 5px!important;
}

.side-bar .pesqProduto:focus {
    border-color: #01784E;
    box-shadow: none;
}

.side-bar .lupa {
    border-radius: 0px 5px 5px 0px!important;
}

.side-bar .lupa::before {
    content: "";
    border-color: #01784E;
    background: url("../images/sideBar/lupa.png");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 24px;
    height: 24px;
}

#onlySpace {
    height: 15px;
}

.side-bar .card-header {
    background-color: #01784E;
    font-size: 18px;
    color: white;
}

#tableOferta {
    margin: 30px;
}

.card {
    font-size: 14px;
}


input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #01784E;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.side-bar h6 {
    color: #01784E;
    font-weight: bolder;
}

.btn-primary {
    background-color: #017649!important;
    border-color: #017649!important;
    color: #fff!important;
    font-weight: bolder;
}

.btn-primary:hover {
    background-color: #008b56!important;
    color: #fff!important;
    border-color: #008b56!important;
}

.btn-success:hover {
    background-color: #008b56!important;
}

.btn-primary:active {
    box-shadow: 0 0 0 0.2rem rgb(1, 120, 78, 0.3)!important;
}

.lupa,
.person-icon {
    background-color: #01764a!important;
    color: #fff!important;
    border-color: #01764a!important;
}

.lupa:hover {
    background-color: #008b56!important;
    color: #fff!important;
    border-color: #008b56!important;
}

.person-icon:hover {
    background-color: #008b56!important;
    color: #fff!important;
    border-color: #008b56!important;
}

.btn-primary:link {
    box-shadow: none!important;
}

.border-success {
    border-color: #01764a!important;
}

.div-table-prod {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    overflow-x: auto;
}


/*Reserva de Produto*/

.form-check-input,
.form-check-label {
    cursor: pointer;
}

h1,
h2,
h4,
h6 {
    color: #01764a;
    font-weight: bolder;
}

.name1 {
    margin: 10px;
}

.comeco {
    background-color: #b1b1b1;
}

.add {
    margin: 35px;
}

.Conteudo .btn-primary {
    background-color: #01764a!important;
}

.btn-excluir::before {
    content: "";
    background: url("../images/reservaProduto/lixeira.png");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 24px;
    height: 24px;
}

.btn-novo::before {
    content: "";
    background: url("../images/sideBar/novo.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    padding-left: 14%;
    display: block;
    width: 24px;
    height: 24px;
}

.btn-reserva::before {
    content: "";
    background: url("../images/sideBar/reserva.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    padding-left: 14%;
    display: block;
    width: 24px;
    height: 24px;
}

.btn-troca::before {
    content: "";
    background: url("../images/sideBar/troca.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    padding-left: 14%;
    display: block;
    width: 24px;
    height: 24px;
}

.btn-troca::before {
    content: "";
    background: url("../images/sideBar/troca.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    padding-left: 14%;
    display: block;
    width: 24px;
    height: 24px;
}

.btn-cupom::before {
    content: "";
    background: url("../images/sideBar/cupom.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    padding-left: 14%;
    display: block;
    width: 24px;
    height: 24px;
}

.btn-sair::before {
    content: "";
    background: url("../images/sideBar/sair.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    padding-left: 60%;
    display: block;
    width: 24px;
    height: 24px;
}